Repository wantnaM/deekr-studio: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format-js, eslint-fix, biome-format-other

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: biome-format-js
        name: Biome format (JS/TS)
        language: system
        entry: pnpm biome format --write --no-errors-on-unmatched
        files: '\.(js|jsx|ts|tsx|cjs|mjs|cts|mts)$'
        pass_filenames: true

      - id: eslint-fix
        name: ESLint fix
        language: system
        entry: pnpm eslint --fix
        files: '\.(js|jsx|ts|tsx|cjs|mjs|cts|mts)$'
        pass_filenames: true

      - id: biome-format-other
        name: Biome format (JSON/YAML/CSS/HTML)
        language: system
        entry: pnpm biome format --write --no-errors-on-unmatched
        files: '\.(json|yml|yaml|css|html)$'
        pass_filenames: true

ci: pin claude-code-action to v1.0.66 in prepare-release (#13229)
  .github/workflows/prepare-release.yml
Due: biome-format-other

chore: release v1.7.24 (#13231)
  electron-builder.yml
  package.json
Due: biome-format-other

fix: improve Qwen 3.5 reasoning model detection and thinking param handling (#13235)
  src/renderer/src/aiCore/plugins/PluginBuilder.ts
  src/renderer/src/aiCore/utils/reasoning.ts
  src/renderer/src/config/models/__tests__/models.test.ts
  src/renderer/src/config/models/qwen.ts
  src/renderer/src/config/models/reasoning.ts
  src/renderer/src/types/sdk.ts
Due: biome-format-js, eslint-fix

docs: Expand CLAUDE.md with comprehensive architecture and development guide (#13241)
  CLAUDE.md
Due: none

feat: reset selected index when returning to home from feature routes (#13234)
  src/renderer/src/windows/mini/home/HomeWindow.tsx
Due: biome-format-js, eslint-fix

feat(gemini): add thought signature persistence for conversation replay (#13100)
  src/renderer/src/aiCore/chunk/AiSdkToChunkAdapter.ts
  src/renderer/src/aiCore/plugins/PluginBuilder.ts
  src/renderer/src/aiCore/plugins/skipGeminiThoughtSignaturePlugin.ts
  src/renderer/src/aiCore/prepareParams/__tests__/message-converter.test.ts
  src/renderer/src/aiCore/prepareParams/messageConverter.ts
  src/renderer/src/services/StreamProcessingService.ts
  src/renderer/src/services/db/AgentMessageDataSource.ts
  src/renderer/src/services/messageStreaming/callbacks/textCallbacks.ts
  src/renderer/src/types/chunk.ts
Due: biome-format-js, eslint-fix

fix: update thinking_millsec during streaming to prevent timer reset on remount (#13278)
  src/renderer/src/services/messageStreaming/callbacks/thinkingCallbacks.ts
Due: biome-format-js, eslint-fix

fix(api-server): relax chat completion validation for tool calling messages (#13279)
  src/main/apiServer/services/chat-completion.ts
Due: biome-format-js, eslint-fix

fix: save swapped source and target languages to db (#13276)
  src/renderer/src/pages/translate/TranslatePage.tsx
Due: biome-format-js, eslint-fix

fix: ensure temp directory exists before document parsing (#13283)
  src/main/services/FileStorage.ts
Due: biome-format-js, eslint-fix

chore(deps): upgrade electron from 40.6.1 to 40.8.0 (#13288)
  package.json
  pnpm-lock.yaml
  src/main/services/SelectionService.ts
Due: biome-format-js, eslint-fix, biome-format-other

fix: aggregate knowledge base notifications to prevent toast storm (#13284)
  src/renderer/src/i18n/locales/en-us.json
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/i18n/locales/zh-tw.json
  src/renderer/src/i18n/translate/de-de.json
  src/renderer/src/i18n/translate/el-gr.json
  src/renderer/src/i18n/translate/es-es.json
  src/renderer/src/i18n/translate/fr-fr.json
  src/renderer/src/i18n/translate/ja-jp.json
  src/renderer/src/i18n/translate/pt-pt.json
  src/renderer/src/i18n/translate/ro-ro.json
  src/renderer/src/i18n/translate/ru-ru.json
  src/renderer/src/pages/knowledge/items/KnowledgeUrls.tsx
  src/renderer/src/queue/KnowledgeQueue.ts
Due: biome-format-js, eslint-fix, biome-format-other

feat: add GPT-5.4 support and auto-fallback for future GPT-5.x sub-versions (#13293)
  src/renderer/src/config/models/__tests__/openai.test.ts
  src/renderer/src/config/models/__tests__/reasoning.test.ts
  src/renderer/src/config/models/__tests__/utils.test.ts
  src/renderer/src/config/models/default.ts
  src/renderer/src/config/models/openai.ts
  src/renderer/src/config/models/reasoning.ts
  src/renderer/src/config/models/utils.ts
  src/renderer/src/types/index.ts
Due: biome-format-js, eslint-fix

fix(i18n): clarify tool permission title as 'Pre-approved Tools' (#13327)
  src/renderer/src/i18n/locales/en-us.json
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/i18n/locales/zh-tw.json
  src/renderer/src/i18n/translate/de-de.json
  src/renderer/src/i18n/translate/el-gr.json
  src/renderer/src/i18n/translate/es-es.json
  src/renderer/src/i18n/translate/fr-fr.json
  src/renderer/src/i18n/translate/ja-jp.json
  src/renderer/src/i18n/translate/pt-pt.json
  src/renderer/src/i18n/translate/ro-ro.json
  src/renderer/src/i18n/translate/ru-ru.json
Due: biome-format-other

fix(backup): defer auto backup during streaming response (#13307)
  src/renderer/src/services/BackupService.ts
Due: biome-format-js, eslint-fix

fix: modify aiionly websites (#13322)
  src/main/services/WindowService.ts
  src/renderer/src/config/providers.ts
  src/renderer/src/utils/oauth.ts
Due: biome-format-js, eslint-fix

fix: Replace actioningPlugin with useLoading hook (#13095)
  src/renderer/src/hooks/useLoading.ts
  src/renderer/src/pages/home/Tabs/components/Sessions.tsx
  src/renderer/src/pages/settings/AgentSettings/components/PluginsSettings/components/PluginBrowser.tsx
  src/renderer/src/store/runtime.ts
Due: biome-format-js, eslint-fix

fix: remove approval countdown timers and add system notifications (#13281)
  src/main/services/agents/services/claudecode/tool-permissions.ts
  src/renderer/src/aiCore/utils/__tests__/mcp.test.ts
  src/renderer/src/aiCore/utils/mcp.ts
  src/renderer/src/hooks/useAppInit.ts
  src/renderer/src/i18n/locales/en-us.json
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/i18n/locales/zh-tw.json
  src/renderer/src/i18n/translate/de-de.json
  src/renderer/src/i18n/translate/el-gr.json
  src/renderer/src/i18n/translate/es-es.json
  src/renderer/src/i18n/translate/fr-fr.json
  src/renderer/src/i18n/translate/ja-jp.json
  src/renderer/src/i18n/translate/pt-pt.json
  src/renderer/src/i18n/translate/ro-ro.json
  src/renderer/src/i18n/translate/ru-ru.json
  src/renderer/src/pages/home/Messages/Tools/MessageMcpTool.tsx
  src/renderer/src/pages/home/Messages/Tools/ToolApprovalActions.tsx
  src/renderer/src/pages/home/Messages/Tools/ToolPermissionRequestCard.tsx
  src/renderer/src/pages/home/Messages/Tools/hooks/index.ts
  src/renderer/src/pages/home/Messages/Tools/hooks/useAgentToolApproval.ts
  src/renderer/src/pages/home/Messages/Tools/hooks/useMcpToolApproval.ts
  src/renderer/src/pages/home/Messages/Tools/hooks/useToolApproval.ts
  src/renderer/src/services/NotificationService.ts
  src/renderer/src/store/toolPermissions.ts
  src/renderer/src/utils/__tests__/userConfirmation.test.ts
  src/renderer/src/utils/userConfirmation.ts
Due: biome-format-js, eslint-fix, biome-format-other

fix: check underlying tool permissions for hub invoke/exec (#13282)
  packages/shared/IpcChannel.ts
  src/main/ipc.ts
  src/main/mcpServers/hub/__tests__/mcp-bridge.test.ts
  src/main/mcpServers/hub/__tests__/toolname.test.ts
  src/main/mcpServers/hub/mcp-bridge.ts
  src/preload/index.ts
  src/renderer/src/aiCore/utils/mcp.ts
  src/renderer/src/utils/__tests__/mcp-tools-approval.test.ts
  src/renderer/src/utils/mcp-tools.ts
Due: biome-format-js, eslint-fix

fix: agent tool status not stopping on abort (#13111)
  src/renderer/src/services/messageStreaming/callbacks/baseCallbacks.ts
Due: biome-format-js, eslint-fix

fix: respect pasteLongTextAsFile setting in MessageEditor (#13313)
  src/renderer/src/pages/home/Messages/MessageEditor.tsx
Due: biome-format-js, eslint-fix

fix: remove scrollbar width override in responsive.css (#13318)
  src/renderer/src/assets/styles/responsive.css
Due: biome-format-other

chore: upgrade @anthropic-ai/claude-agent-sdk from 0.2.56 to 0.2.71 (#13339)
  package.json
  patches/@anthropic-ai__claude-agent-sdk@0.1.76.patch
  pnpm-lock.yaml
  src/main/services/agents/services/claudecode/index.ts
Due: biome-format-js, eslint-fix, biome-format-other

feat(analytics): track app launch event on startup (#13334)
  package.json
  pnpm-lock.yaml
  src/main/services/AnalyticsService.ts
Due: biome-format-js, eslint-fix, biome-format-other

refactor(OGCard): adjust layout and migrate to TailwindCSS (#13355)
  src/renderer/src/components/OGCard.tsx
Due: biome-format-js, eslint-fix

fix: add warning for temporarily unavailable Anthropic OAuth authentication (#13331)
  src/renderer/src/i18n/locales/en-us.json
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/i18n/locales/zh-tw.json
  src/renderer/src/i18n/translate/de-de.json
  src/renderer/src/i18n/translate/el-gr.json
  src/renderer/src/i18n/translate/es-es.json
  src/renderer/src/i18n/translate/fr-fr.json
  src/renderer/src/i18n/translate/ja-jp.json
  src/renderer/src/i18n/translate/pt-pt.json
  src/renderer/src/i18n/translate/ro-ro.json
  src/renderer/src/i18n/translate/ru-ru.json
  src/renderer/src/pages/settings/ProviderSettings/AnthropicSettings.tsx
Due: biome-format-js, eslint-fix, biome-format-other

fix: replace `p` with `span` to resolve invalid nesting warning (#13351)
  src/renderer/src/pages/settings/AgentSettings/components/PluginsSettings/components/PluginBrowser.tsx
Due: biome-format-js, eslint-fix

fix: use consistent OpenClaw icon in sidebar settings (#13354)
  src/renderer/src/pages/settings/DisplaySettings/SidebarIconsManager.tsx
Due: biome-format-js, eslint-fix

fix: auto-convert reasoning_effort to reasoningEffort for openai-compatible providers (#12831)
  src/renderer/src/aiCore/utils/__tests__/options.test.ts
  src/renderer/src/aiCore/utils/options.ts
Due: biome-format-js, eslint-fix

chore: 更新生产环境配置
  electron-builder.yml
  src/renderer/src/config/env.ts
Due: biome-format-js, eslint-fix, biome-format-other

build: 更新依赖包废弃信息
  pnpm-lock.yaml
Due: biome-format-other

feat(import): add backup chat merge functionality
  packages/shared/IpcChannel.ts
  src/main/ipc.ts
  src/main/services/BackupManager.ts
  src/preload/index.ts
  src/renderer/src/components/Popups/BackupUploadPopup.tsx
  src/renderer/src/hooks/useTopic.ts
  src/renderer/src/i18n/locales/en-us.json
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/i18n/locales/zh-tw.json
  src/renderer/src/pages/home/HomePage.tsx
  src/renderer/src/pages/paintings/DoubaoPage.tsx
  src/renderer/src/pages/settings/DataSettings/DataSettings.tsx
  src/renderer/src/pages/settings/DataSettings/ImportMenuSettings.tsx
  src/renderer/src/services/import/importers/BackupImporter.ts
  src/renderer/src/services/import/importers/index.ts
  src/renderer/src/services/import/utils/mergeUtils.ts
Due: biome-format-js, eslint-fix, biome-format-other

feat(import): optimize backup merge and fix i18n missing keys
  src/renderer/src/components/Popups/BackupUploadPopup.tsx
  src/renderer/src/i18n/locales/en-us.json
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/i18n/locales/zh-tw.json
  src/renderer/src/i18n/translate/de-de.json
  src/renderer/src/i18n/translate/el-gr.json
  src/renderer/src/i18n/translate/es-es.json
  src/renderer/src/i18n/translate/fr-fr.json
  src/renderer/src/i18n/translate/ja-jp.json
  src/renderer/src/i18n/translate/pt-pt.json
  src/renderer/src/i18n/translate/ro-ro.json
  src/renderer/src/i18n/translate/ru-ru.json
  src/renderer/src/pages/minapps/NewAppButton.tsx
  src/renderer/src/pages/settings/AboutSettings.tsx
  src/renderer/src/pages/settings/DataSettings/WebDavSettings.tsx
  src/renderer/src/pages/settings/DisplaySettings/DisplaySettings.tsx
  src/renderer/src/pages/settings/StudentsSettings.tsx
  src/renderer/src/pages/store/assistants/presets/AssistantPresetsPage.tsx
  src/renderer/src/pages/store/assistants/presets/components/SyncAssistantToStudentsPopup.tsx
  src/renderer/src/services/import/utils/mergeUtils.ts
Due: biome-format-js, eslint-fix, biome-format-other

chore(ui): adjust sidebar defaults, hide ChatGPT import, fix brand name
  src/renderer/src/components/Popups/BackupUploadPopup.tsx
  src/renderer/src/config/sidebar.ts
  src/renderer/src/i18n/locales/en-us.json
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/i18n/locales/zh-tw.json
  src/renderer/src/pages/settings/DataSettings/ImportMenuSettings.tsx
Due: biome-format-js, eslint-fix, biome-format-other

feat(migrate): hide openclaw and code_tools from sidebar on upgrade
  src/renderer/src/store/index.ts
  src/renderer/src/store/migrate.ts
Due: biome-format-js, eslint-fix

docs: update release notes for v1.7.24 and add backup merge guide
  docs/zh/backup-merge-guide.html
  electron-builder.yml
  src/renderer/src/i18n/locales/zh-cn.json
Due: biome-format-other

fix(minapps): remove region filtering to show all mini apps by default
  src/renderer/src/hooks/useMinapps.ts
  src/renderer/src/pages/minapps/MiniappSettings/MiniAppSettings.tsx
Due: biome-format-js, eslint-fix

refactor(auth): redesign login page and improve registration flow
  src/renderer/src/Router.tsx
  src/renderer/src/pages/auth/LoginPage.tsx
  src/renderer/src/pages/auth/RegisterForm.tsx
Due: biome-format-js, eslint-fix

fix(auth): preserve step 1 values in registration form
  src/renderer/src/pages/auth/RegisterForm.tsx
Due: biome-format-js, eslint-fix

隐藏部分页面
  src/renderer/src/pages/settings/SettingsPage.tsx
Due: biome-format-js, eslint-fix
