Repository wantnaM/deekr-studio: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format-js, eslint-fix, biome-format-other

biome-format-js:
  name: Biome format (JS/TS)
  language: system
  entry: pnpm biome format --write --no-errors-on-unmatched
  pass_filenames: true

eslint-fix:
  name: ESLint fix
  language: system
  entry: pnpm eslint --fix
  pass_filenames: true

biome-format-other:
  name: Biome format (JSON/YAML/CSS/HTML)
  language: system
  entry: pnpm biome format --write --no-errors-on-unmatched
  pass_filenames: true

更换远程rag查询的地址
  src/renderer/src/services/KnowledgeService.ts
Due: biome-format-js, eslint-fix

fix: optimize `HtmlArtifactsPopup` re-rendering (#13133)
  pnpm-lock.yaml
  src/renderer/src/components/CodeBlockView/HtmlArtifactsPopup.tsx
Due: biome-format-js, eslint-fix, biome-format-other

chore: release v1.7.22 (#13128)
  .github/workflows/release.yml
  .npmrc
  electron-builder.yml
  package.json
Due: biome-format-other

docs: add review workflow to CLAUDE.md (#13145)
  CLAUDE.md
Due: none

feat: add dev-only message data inspection button (#13142)
  src/renderer/src/components/Popups/InspectMessagePopup.tsx
  src/renderer/src/config/registry/messageMenubar.ts
  src/renderer/src/pages/home/Messages/MessageMenubar.tsx
Due: biome-format-js, eslint-fix

refactor: replace static pnpm patch with postinstall script for claude-agent-sdk (#13139)
  package.json
  patches/@anthropic-ai__claude-agent-sdk.patch
  pnpm-lock.yaml
  scripts/__tests__/patch-claude-agent-sdk.test.ts
  scripts/patch-claude-agent-sdk.ts
Due: biome-format-js, eslint-fix, biome-format-other

build: 配置测试版应用标识和服务器地址
  electron-builder.yml
  src/renderer/src/config/env.ts
Due: biome-format-js, eslint-fix, biome-format-other

fix: render directory Select options with optionRender (#13152)
  src/renderer/src/pages/code/CodeToolsPage.tsx
Due: biome-format-js, eslint-fix

fix: open external editor in new window instead of reusing existing one (#13160)
  src/renderer/src/pages/home/components/ChatNavBar/ChatNavbarContent/OpenExternalAppButton.tsx
Due: biome-format-js, eslint-fix

fix: support esc to close modal (#13159)
  src/renderer/src/components/CodeBlockView/HtmlArtifactsPopup.tsx
Due: biome-format-js, eslint-fix

fix: show approval card for builtin and provider tools (#13154)
  src/renderer/src/pages/home/Messages/Tools/hooks/useToolApproval.ts
Due: biome-format-js, eslint-fix

chore(deps): upgrade @uiw/codemirror packages to 4.25.7 (#13149)
  package.json
  pnpm-lock.yaml
Due: biome-format-other

fix: improve plugin browser UX with three small fixes (#13153)
  src/renderer/src/i18n/locales/en-us.json
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/i18n/locales/zh-tw.json
  src/renderer/src/pages/settings/AgentSettings/components/PluginsSettings/components/PluginBrowser.tsx
  src/renderer/src/pages/settings/AgentSettings/components/PluginsSettings/components/PluginDetailModal.tsx
  src/renderer/src/services/MarketplaceService.ts
Due: biome-format-js, eslint-fix, biome-format-other

fix(ci): skip CI on PR body/title edits, only re-run on base branch changes (#13150)
  .github/workflows/ci.yml
Due: biome-format-other

fix(renderer): synchronize miniapp settings state and respect region filter (#13166)
  src/renderer/src/pages/minapps/MiniappSettings/MiniAppSettings.tsx
Due: biome-format-js, eslint-fix

fix(Selection): prevent Windows crash when closing transparent action window (#13177)
  src/main/services/SelectionService.ts
Due: biome-format-js, eslint-fix

chore: Improve Claude translator workflow logic and clarity (#13175)
  .github/workflows/claude-translator.yml
Due: biome-format-other

fix: persist translation block cleanup to database on error (#13134)
  src/renderer/src/pages/home/Messages/MessageMenubar.tsx
Due: biome-format-js, eslint-fix

feat: add MarqueeText component with hover bounce-scroll for overflowing text (#13168)
  src/renderer/src/assets/styles/tailwind.css
  src/renderer/src/components/MarqueeText.tsx
  src/renderer/src/pages/home/Markdown/CitationTooltip.tsx
  src/renderer/src/pages/home/Markdown/__tests__/__snapshots__/CitationTooltip.test.tsx.snap
  tests/renderer.setup.ts
Due: biome-format-js, eslint-fix, biome-format-other

chore: release v1.7.23 (#13180)
  .github/workflows/release.yml
  electron-builder.yml
  package.json
Due: biome-format-other

fix: improve CLI tools path handling for special characters (issue #11995) (#12020)
  packages/shared/config/constant.ts
  src/main/services/CodeToolsService.ts
Due: biome-format-js, eslint-fix

fix(build): switch Windows code signing timestamp server to DigiCert (#13189)
  scripts/win-sign.js
Due: biome-format-js, eslint-fix

fix(ci): correct node-version-file path in update-app-upgrade-config workflow (#13190)
  .github/workflows/update-app-upgrade-config.yml
Due: biome-format-other

feat: mention Feishu user in issue notification card (#13199)
  scripts/feishu-notify.ts
Due: biome-format-js, eslint-fix

fix: respect agent allowed_tools in MCP auto-approval check (#12965)
  src/renderer/src/aiCore/prepareParams/parameterBuilder.ts
  src/renderer/src/aiCore/utils/mcp.ts
  src/renderer/src/pages/home/Messages/Tools/hooks/useMcpToolApproval.ts
  src/renderer/src/services/ApiService.ts
  src/renderer/src/store/thunk/messageThunk.ts
  src/renderer/src/types/index.ts
  src/renderer/src/utils/mcp-tools.ts
Due: biome-format-js, eslint-fix

fix: correct MCP tool parameter parsing and nested schema display (#13186)
  src/main/mcpServers/hub/format.ts
  src/main/services/MCPService.ts
  src/renderer/src/pages/settings/MCPSettings/McpTool.tsx
Due: biome-format-js, eslint-fix

fix: move OpenAPI spec generation to build time (#13207)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  scripts/generate-openapi-spec.ts
  src/main/apiServer/app.ts
  src/main/apiServer/generated/openapi-spec.json
  src/main/apiServer/middleware/openapi.ts
  src/main/apiServer/routes/mcp.ts
Due: biome-format-js, eslint-fix, biome-format-other

revert: remove Feishu at-mention from issue notification card (#13201)
  scripts/feishu-notify.ts
Due: biome-format-js, eslint-fix

fix(ci): prevent edited events from creating skipped CI runs (#13170)
  .github/workflows/ci-rerun-on-base-change.yml
  .github/workflows/ci.yml
Due: biome-format-other

feat: route Gemini 3.1 Flash Lite to gemini3_flash thinking type (#13211)
  src/renderer/src/config/models/reasoning.ts
  src/renderer/src/config/models/utils.ts
Due: biome-format-js, eslint-fix

fix: codemirror highlight crash (#13196)
  package.json
  pnpm-lock.yaml
Due: biome-format-other

fix: PinnedTodoPanel ignores narrow mode width setting (#13127)
  src/renderer/src/pages/home/Chat.tsx
Due: biome-format-js, eslint-fix

feat: add thinking/reasoning effort control to agent sessions (#13137)
  src/main/services/agents/interfaces/AgentStreamInterface.ts
  src/main/services/agents/services/SessionMessageService.ts
  src/main/services/agents/services/claudecode/index.ts
  src/renderer/src/pages/home/Inputbar/AgentSessionInputbar.tsx
  src/renderer/src/pages/home/Inputbar/InputbarTools.tsx
  src/renderer/src/pages/home/Inputbar/tools/components/ThinkingButton.tsx
  src/renderer/src/pages/home/Inputbar/tools/thinkingTool.tsx
  src/renderer/src/pages/home/Inputbar/types.ts
  src/renderer/src/store/thunk/messageThunk.ts
  src/renderer/src/types/agent.ts
Due: biome-format-js, eslint-fix

perf: send incremental delta instead of full inputBuffer for tool streaming (#13213)
  src/main/services/agents/services/claudecode/__tests__/transform.test.ts
  src/main/services/agents/services/claudecode/claude-stream-state.ts
  src/main/services/agents/services/claudecode/transform.ts
Due: biome-format-js, eslint-fix

fix: duplicate error blocks in aborting (#13224)
  src/renderer/src/aiCore/chunk/AiSdkToChunkAdapter.ts
Due: biome-format-js, eslint-fix

fix: implement infinite scroll for sessions list (#11957)
  src/renderer/src/api/agent.ts
  src/renderer/src/hooks/agents/useSessions.ts
  src/renderer/src/pages/home/Tabs/components/Sessions.tsx
Due: biome-format-js, eslint-fix

refactor: Improve plugin detail modal UI and fix size display (#13090)
  src/renderer/src/hooks/useMarketplaceBrowser.ts
  src/renderer/src/pages/settings/AgentSettings/components/PluginsSettings/components/PluginBrowser.tsx
  src/renderer/src/pages/settings/AgentSettings/components/PluginsSettings/components/PluginDetailModal.tsx
  src/renderer/src/types/plugin.ts
Due: biome-format-js, eslint-fix

feat: make accessible_paths optional during agent creation (#13126)
  src/main/services/agents/BaseService.ts
  src/main/services/agents/services/AgentService.ts
  src/main/services/agents/services/SessionService.ts
  src/renderer/src/components/Popups/agent/AgentModal.tsx
  src/renderer/src/i18n/locales/en-us.json
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/i18n/locales/zh-tw.json
  src/renderer/src/i18n/translate/de-de.json
  src/renderer/src/i18n/translate/el-gr.json
  src/renderer/src/i18n/translate/es-es.json
  src/renderer/src/i18n/translate/fr-fr.json
  src/renderer/src/i18n/translate/ja-jp.json
  src/renderer/src/i18n/translate/pt-pt.json
  src/renderer/src/i18n/translate/ro-ro.json
  src/renderer/src/i18n/translate/ru-ru.json
  src/renderer/src/pages/settings/AgentSettings/components/AccessibleDirsSetting.tsx
  src/renderer/src/types/agent.ts
Due: biome-format-js, eslint-fix, biome-format-other

fix: prompt caching crash for OpenRouter and non-Anthropic providers (#13227)
  src/renderer/src/aiCore/plugins/PluginBuilder.ts
  src/renderer/src/aiCore/plugins/anthropicCachePlugin.ts
  src/renderer/src/utils/provider.ts
Due: biome-format-js, eslint-fix

fix: use camelCase reasoningEffort for Gemini 3 models in openai-compatible provider (#13228)
  src/renderer/src/aiCore/utils/__tests__/reasoning.test.ts
  src/renderer/src/aiCore/utils/reasoning.ts
Due: biome-format-js, eslint-fix

Path conditions:
  biome-format-js: any of: \.(js|jsx|ts|tsx|cjs|mjs|cts|mts)$
  eslint-fix: any of: \.(js|jsx|ts|tsx|cjs|mjs|cts|mts)$
  biome-format-other: any of: \.(json|yml|yaml|css|html)$
