Repository wantnaM/deekr-studio: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format-js, eslint-fix, biome-format-other

biome-format-js:
  name: Biome format (JS/TS)
  language: system
  entry: pnpm biome format --write --no-errors-on-unmatched
  pass_filenames: true

eslint-fix:
  name: ESLint fix
  language: system
  entry: pnpm eslint --fix
  pass_filenames: true

biome-format-other:
  name: Biome format (JSON/YAML/CSS/HTML)
  language: system
  entry: pnpm biome format --write --no-errors-on-unmatched
  pass_filenames: true

Fix the API preview link for Azure OpenAI completion mode (#12500)
  src/renderer/src/pages/settings/ProviderSettings/ProviderSetting.tsx
Due: biome-format-js, eslint-fix

fix(LoggerService): update logging mechanism to use ipcRenderer.invoke for main process communication
  src/renderer/src/services/LoggerService.ts
Due: biome-format-js, eslint-fix

登陆功能
  packages/shared/IpcChannel.ts
  src/main/ipc.ts
  src/preload/index.ts
  src/renderer/src/Router.tsx
  src/renderer/src/components/auth/AuthGuard.tsx
  src/renderer/src/components/auth/UserMenu.tsx
  src/renderer/src/pages/auth/LoginPage.tsx
  src/renderer/src/services/AuthService.ts
  src/renderer/src/services/UserDataService.ts
  src/renderer/src/store/auth.ts
  src/renderer/src/store/index.ts
Due: biome-format-js, eslint-fix

用户登录
  src/renderer/src/Router.tsx
  src/renderer/src/config/env.ts
  src/renderer/src/hooks/useAuth.ts
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/pages/auth/LoginPage.tsx
  src/renderer/src/services/AuthService.ts
  src/renderer/src/services/UserDataService.ts
  src/renderer/src/store/auth.ts
  src/renderer/src/store/settings.ts
  src/renderer/src/utils/axios/config.ts
  src/renderer/src/utils/axios/errorCode.ts
  src/renderer/src/utils/axios/index.ts
  src/renderer/src/utils/axios/service.ts
Due: biome-format-js, eslint-fix, biome-format-other

注册功能
  src/renderer/src/assets/images/logo-background.jpg
  src/renderer/src/pages/auth/LoginPage.tsx
  src/renderer/src/pages/auth/RegisterForm.tsx
  src/renderer/src/services/AdminService.ts
  src/renderer/src/services/AuthService.ts
  src/renderer/src/services/UserDataService.ts
  src/renderer/src/types/index.ts
Due: biome-format-js, eslint-fix

助手库更新
  resources/data/agents-zh.json
  src/renderer/src/pages/store/assistants/presets/components/AssistantPresetGroupIcon.tsx
  src/renderer/src/services/UserDataService.ts
Due: biome-format-js, eslint-fix, biome-format-other

用户信息页面
  src/renderer/src/components/auth/UserMenu.tsx
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/pages/settings/SettingsPage.tsx
  src/renderer/src/pages/settings/UserInfoPage.tsx
Due: biome-format-js, eslint-fix, biome-format-other

用户信息页面
  .vscode/settings.json
  src/renderer/src/components/app/Sidebar.tsx
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/pages/settings/UserInfoPage.tsx
Due: biome-format-js, eslint-fix, biome-format-other

修改密码、修改信息、登出
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/pages/settings/DataSettings/DataSettings.tsx
  src/renderer/src/pages/settings/UserInfoPage.tsx
  src/renderer/src/services/AuthService.ts
Due: biome-format-js, eslint-fix, biome-format-other

加载助手
  src/renderer/src/pages/settings/UserInfoPage.tsx
  src/renderer/src/services/UserDataService.ts
Due: biome-format-js, eslint-fix

更新助手库
  src/renderer/src/config/prompts.ts
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/pages/store/assistants/presets/components/AddAssistantPresetPopup.tsx
  src/renderer/src/pages/store/assistants/presets/components/ImportAssistantPresetPopup.tsx
  src/renderer/src/pages/store/assistants/presets/components/ManageAssistantPresetsPopup.tsx
  src/renderer/src/services/UserDataService.ts
  src/renderer/src/store/assistants.ts
Due: biome-format-js, eslint-fix, biome-format-other

修复ai画图
  src/renderer/src/pages/paintings/PaintingsRoutePage.tsx
Due: biome-format-js, eslint-fix

生成图片1
  src/renderer/src/assets/images/paintings/recommended-1.png
  src/renderer/src/assets/images/paintings/recommended-2.png
  src/renderer/src/assets/images/paintings/recommended-3.png
  src/renderer/src/assets/images/paintings/recommended-4.png
  src/renderer/src/assets/images/paintings/recommended-5.png
  src/renderer/src/assets/images/paintings/recommended-6.png
  src/renderer/src/assets/images/paintings/recommended-7.png
  src/renderer/src/assets/images/paintings/recommended-8.png
  src/renderer/src/pages/paintings/PaintingsRoutePage.tsx
  src/renderer/src/pages/paintings/ZhipuPage.tsx
Due: biome-format-js, eslint-fix

豆包图像生成-暂定
  src/renderer/src/aiCore/legacy/clients/ApiClientFactory.ts
  src/renderer/src/aiCore/legacy/clients/doubao/DoubaoAPIClient.ts
  src/renderer/src/hooks/usePaintings.ts
  src/renderer/src/pages/paintings/DoubaoPage.tsx
  src/renderer/src/pages/paintings/PaintingsRoutePage.tsx
  src/renderer/src/pages/paintings/config/doubaoConfig.tsx
  src/renderer/src/store/paintings.ts
  src/renderer/src/types/index.ts
Due: biome-format-js, eslint-fix

添加说明
  src/renderer/src/pages/minapps/MinAppsPage.tsx
Due: biome-format-js, eslint-fix

删除免费模型
  src/renderer/src/hooks/useProvider.ts
  src/renderer/src/pages/home/Inputbar/tools/components/useMentionModelsPanel.tsx
Due: biome-format-js, eslint-fix

修复智能体请求后台，不能放在store
  src/renderer/src/hooks/useAssistantPresets.ts
  src/renderer/src/store/assistants.ts
Due: biome-format-js, eslint-fix

设置对话大纲与导航栏
  src/renderer/src/store/settings.ts
Due: biome-format-js, eslint-fix

logo与界面隐藏
  build/icon.ico
  build/icon.png
  build/logo.png
  build/tray_icon.png
  build/tray_icon_dark.png
  build/tray_icon_light.png
  packages/shared/config/constant.ts
  src/renderer/src/assets/images/logo.png
  src/renderer/src/config/ocr.ts
  src/renderer/src/config/providers.ts
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/pages/settings/AboutSettings.tsx
  src/renderer/src/pages/settings/DataSettings/DataSettings.tsx
  src/renderer/src/pages/settings/DataSettings/ExportMenuSettings.tsx
  src/renderer/src/pages/settings/DisplaySettings/DisplaySettings.tsx
  src/renderer/src/pages/settings/GeneralSettings.tsx
  src/renderer/src/pages/settings/SelectionAssistantSettings/SelectionAssistantSettings.tsx
  src/renderer/src/pages/settings/SettingsPage.tsx
  src/renderer/src/pages/settings/UserInfoPage.tsx
  src/renderer/src/store/selectionStore.ts
  src/renderer/src/store/settings.ts
Due: biome-format-js, eslint-fix, biome-format-other

云数据库
  src/renderer/src/pages/auth/LoginPage.tsx
  src/renderer/src/pages/settings/DataSettings/WebDavSettings.tsx
  src/renderer/src/pages/settings/UserInfoPage.tsx
  src/renderer/src/services/UserDataService.ts
Due: biome-format-js, eslint-fix

api服务器设置页面
  src/renderer/src/pages/settings/ToolSettings/ApiServerSettings/ApiServerSettings.tsx
Due: biome-format-js, eslint-fix

用户配置刷新
  src/renderer/src/pages/auth/LoginPage.tsx
  src/renderer/src/services/UserDataService.ts
Due: biome-format-js, eslint-fix

设置路由
  src/renderer/src/components/app/Sidebar.tsx
Due: biome-format-js, eslint-fix

供应商排序
  src/renderer/src/services/UserDataService.ts
  src/renderer/src/store/llm.ts
Due: biome-format-js, eslint-fix

备份错误 提醒
  src/renderer/src/services/BackupService.ts
Due: biome-format-js, eslint-fix

意见反馈
  src/renderer/src/pages/settings/AboutSettings.tsx
  src/renderer/src/pages/settings/FeedbackSettings.tsx
  src/renderer/src/pages/settings/SettingsPage.tsx
Due: biome-format-js, eslint-fix

反馈请求导入
  src/renderer/src/pages/settings/FeedbackSettings.tsx
Due: biome-format-js, eslint-fix

我的学生
  src/renderer/src/i18n/locales/zh-cn.json
  src/renderer/src/pages/settings/SettingsPage.tsx
  src/renderer/src/pages/settings/StudentsSettings.tsx
  src/renderer/src/services/AdminService.ts
Due: biome-format-js, eslint-fix, biome-format-other

重置学生密码和删除学生
  src/renderer/src/pages/settings/StudentsSettings.tsx
  src/renderer/src/services/AdminService.ts
Due: biome-format-js, eslint-fix

学生账号不显示我的学生
  src/renderer/src/pages/settings/SettingsPage.tsx
Due: biome-format-js, eslint-fix

修复问题
  src/renderer/src/pages/settings/FeedbackSettings.tsx
  src/renderer/src/pages/settings/StudentsSettings.tsx
Due: biome-format-js, eslint-fix

助手同步给学生
  src/renderer/src/pages/store/assistants/presets/AssistantPresetsPage.tsx
  src/renderer/src/pages/store/assistants/presets/components/SyncAssistantToStudentsPopup.tsx
  src/renderer/src/services/AdminService.ts
Due: biome-format-js, eslint-fix

修复：去除警告
  src/renderer/src/config/minapps.ts
  src/renderer/src/pages/paintings/ZhipuPage.tsx
  src/renderer/src/pages/settings/AboutSettings.tsx
  src/renderer/src/pages/settings/DataSettings/DataSettings.tsx
  src/renderer/src/pages/settings/DataSettings/WebDavSettings.tsx
  src/renderer/src/pages/settings/DisplaySettings/DisplaySettings.tsx
  src/renderer/src/pages/settings/GeneralSettings.tsx
  src/renderer/src/pages/settings/ToolSettings/ApiServerSettings/ApiServerSettings.tsx
  src/renderer/src/pages/settings/UserInfoPage.tsx
  src/renderer/src/pages/store/assistants/presets/components/ImportAssistantPresetPopup.tsx
Due: biome-format-js, eslint-fix

修改获取最新版的地址
  dev-app-update.yml
  electron-builder.yml
  packages/shared/config/constant.ts
  scripts/update-app-upgrade-config.ts
  src/renderer/src/config/env.ts
  src/renderer/src/store/migrate.ts
Due: biome-format-js, eslint-fix, biome-format-other

共享知识库
  .pre-commit-config.yaml
Due: biome-format-other

共享知识库
  .vscode/settings.json
  src/renderer/src/pages/knowledge/KnowledgeContent.tsx
  src/renderer/src/pages/knowledge/KnowledgePage.tsx
  src/renderer/src/pages/knowledge/items/KnowledgeFiles.tsx
  src/renderer/src/services/KnowledgeService.ts
  src/renderer/src/services/UserDataService.ts
  src/renderer/src/store/knowledge.ts
  src/renderer/src/types/knowledge.ts
Due: biome-format-js, eslint-fix, biome-format-other

更新api
  src/renderer/src/services/UserDataService.ts
Due: biome-format-js, eslint-fix

进入知识库页面获取共享知识库列表
  src/renderer/src/pages/knowledge/KnowledgePage.tsx
Due: biome-format-js, eslint-fix

Path conditions:
  biome-format-js: any of: \.(js|jsx|ts|tsx|cjs|mjs|cts|mts)$
  eslint-fix: any of: \.(js|jsx|ts|tsx|cjs|mjs|cts|mts)$
  biome-format-other: any of: \.(json|yml|yaml|css|html)$
